body {
  background-color: beige;
}

.logo {
  width: 90px;
  height: 90px;
  float: left;
  border: 1px solid black;
}

.head-name-logo {
  border-bottom: 5px solid #ccc;
  margin-bottom: 20px;
}

.name {
  text-align: right;
}

.project-image {
  max-width: 100%;
}

.user-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
}

.project-title {
  font-size: 32px;
  color: #79a;
}

.main .project-link {
  text-decoration: none;
}

.project-desc {
  text-align: center;
  font-size: 28px;
  color: darkblue;
}

.footer {
  text-align: center;
  font-weight: bold;
}