body {
  background-color: beige;
}

.logo {
  width: 90px;
  height: 90px;
  float: left;
  border: 1px solid black;
}

.head-name-logo {
  border-bottom: 5px solid #ccc;
  margin-bottom: 20px;
}

.name {
  text-align: right;
}

.project-image {
  max-width: 100%;
}